body {
  text-align: center;
}



.rojo {
  color: red;
}

input {
  width: 20px;
  text-align: center;
}





table, th, td {
  
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
}

td {
  border: 1px solid #000;
  width: 20px;
  height: 20px;
}

#entrada {

}

#entrada, #entrada tr, #entrada td {
  border: 0;

}

#entrada td {
  padding: 5px;
}

#entrada td:first-of-type {
  width: fit-content;
  text-align: right;
}

#entrada td:last-of-type {
  text-align: left;
  width: fit-content;
}

th {
  text-align: center;
  padding: 2px 10px;
}

button {
  text-align: center;
}